body{

    font-family: sans-serif;
    background: url('../img/ton.webp') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    color: white;
}

/*}Encabezado */


header{
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    
}

.logo{
    display: flex;;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
.logo img{
    height: 50px;
    margin-right: 10px;
}

/* } links del encabezado */
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.link:hover{
    color: rgb(255, 247, 0);
}
/* } Tablas */
.tabla{
    border-collapse: collapse;
    width: 10%;
    margin: 20px auto;
    flex-direction: row;
    color: rgb(34, 0, 255);
}