body{
    font-family: sans-serif;
    background-size: cover;
    margin: 0;
    background-position: center;   /* Centra la imagen */
    background-repeat: no-repeat;  /* Evita que se repita */
    background-attachment: fixed;  /* Opcional: efecto parallax */
    
}

/*}Encabezado */
header, .navbar, .container-fluid .navbar-nav .nav-link, .navbar-brand, .dropdown-menu, .dropdown-item {
    color: #ffffff !important;
    background-color: black !important;
    
}
/* } links del encabezado */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
    color: #0400ff !important; /* Opcional: color dorado al pasar el mouse */
}
.dropdown-menu {
    background: rgba(30,30,30,0.95);
}
.dropdown-item {
    color: #fff !important;
}
.dropdown-item:hover, .dropdown-item:focus {
    background: #333;
    color: #ffd700 !important;
}
#logo{

    width: 50px; 
    height: 50px;
}
.navbar-toggler {
    border-color: #fff !important;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}


